<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'simple_board/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'simple_board/css/index.css' %}">
    <title>Simple Board{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
{% include 'simple_board/_navbar.html' %}
{% block content %}

{% endblock %}
</div>
<script src="{% static 'simple_board/js/bootstrap.js' %}"></script>
<script src="{% static 'simple_board/js/index.js' %}"></script>
</body>
</html>