<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>insta</title>
    {% include '_cdns.html' %}

    <style>
        .activate {
            color: dodgerblue;
        }
    </style>

</head>
<body>
{% include '_navbar.html' %}
{% include '_messages.html' %}
<div class="container">
    {% block body %}
    {% endblock %}
</div>

{% include '_scripts.html' %}

<script>
    // function getCookies() {
    //     const cookieSet = {};
    //     document.cookie.split('; ').forEach(cookieString => {
    //         const kv = cookieString.split('=');
    //         cookieSet[kv[0]] = kv[1];
    //     });
    //     return cookieSet;
    // }

    const likeButtons = document.querySelector('.like-button');
    likeButtons.forEach(button => {
        button.addEventListener('click', e => {
            const postId = e.target.dataset.id;
            const URL = `/insta/${postId}/like/`;
            axios.defaults.xsrfCookieName = 'csrftoken';
            axios.defaults.xsrfHeaderName = 'X-CSRFToken';
            axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
            axios.post(URL)
                .then(response => {
                    const likeCountArea = document.querySelector(`#like-count-${postId}`);
                    likeCountArea.innerHTML = response.data.likeCount;
                    if (response.data.is_active) {
                        e.target.classList.add('activate');
                    } else {
                        e.target.classList.remove('activate');
                    }
                });
        });
    });
</script>

</body>
</html>