{% extends 'workshop19/base.html' %}
{% block title %}index{% endblock title %}

{% block content %}
<table class="table">
    <thead>
        <th>id</th>
        <th>name</th>
    </thead>
    {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>
                <a href="{% url 'workshop19:student_detail' id=student.id %}">{{ student.name }}</a>
            </td>
        </tr>
    {% endfor %}
</table>
<div><a href="{% url 'workshop19:student_new' %}" class="btn btn-primary">추가</a></div>
{% endblock content %}